<!-- <ion-item >
  <ion-thumbnail slot = "start">
    <img [src]="category?.cover ? category.cover : 'assets/imgs/1.jpg'"/>
  </ion-thumbnail>
  <ion-label>
    <h4>{{category?.name}}</h4>
    <ion-text color="medium">
      <p class="pStyle">{{getCuisine(category?.cuisines)}}</p>
    </ion-text>
    <span>
      <ion-icon name="star"></ion-icon>
      {{category?.rating}} .
    </span>
    {{category?.deliveryTime}}. R{{category?.price}} for two
    <ion-text color="tertiary" *ngIf="category?.distance && category?.distance !== 0">
      <p class="distance">
        {{category?.distance | number: '0.0-2'}} kms away
      </p>
    </ion-text>
  </ion-label>
</ion-item> -->

<!-- <ion-card>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="4" routerLink="/tabs/home">
        <ion-icon name="home-outline" size="large"></ion-icon>
        <p>Chicken</p>
      </ion-col>

      <ion-col size="4" routerLink="/tabs/home">
        <ion-icon name="home-outline" size="large"></ion-icon>
        <p>Beef</p>
      </ion-col>
      <ion-col size="4" routerLink="/tabs/home">
        <ion-icon name="home-outline" size="large"></ion-icon>
        <p>Vegetarian</p>
      </ion-col>

      <ion-col size="4" routerLink="/tabs/home">
        <ion-icon name="home-outline" size="large"></ion-icon>
        <p>Extras</p>
      </ion-col>
      <ion-col size="4" routerLink="/tabs/home">
        <ion-icon name="home-outline" size="large"></ion-icon>
        <p>Snacks</p>
      </ion-col>
      <ion-col size="4" routerLink="/tabs/home">
        <ion-icon name="home-outline" size="large"></ion-icon>
        <p>Drinks</p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-card> -->




  <ion-grid>
    <ion-col size="10">
      <ion-row class="ion-text-center">
        <ion-col size="4" *ngFor="let category of categories">
          <ion-card >
              <img [src]="category?.cover ? category.cover : 'assets/images/categories/chicken3.jpg'" alt="">
          </ion-card>
          <p>{{category.name}}</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>

